:root {
  --body: #f8f3ec;
  --putihCard: #fefdf9;
  --textabu: #5e6f69;
  --hijaubtn: #173a33;
  --inshigt: #dbe8e1;
}

.container-dashboard {
  display: flex;
  gap: 100px;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--putihCard);
  border-radius: 20px;
  box-shadow: 0 2px 8px var(--hijaubtn);
}

.container-dashboard-kiri {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inshigt {
  padding: 10px;
  width: 40%;
  border-radius: 20px;
  background-color: var(--inshigt);
}

.title-kiri {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.text-kiri {
  color: var(--textabu);
  width: 120%;
}

.btn-kiri {
  padding: 15px;
  background-color: var(--hijaubtn);
  color: var(--putihCard);
  font-weight: bold;
  border-radius: 30px;
  border: none;
}

.container-dashboard-kanan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 50%;
}

.card {
  background: var(--body);
  padding: 20px;
  border-radius: 12px;
}

.card-text {
  color: var(--textabu);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-kanan-data {
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .container-dashboard {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    padding: 10px 20px;
  }

  .container-dashboard-kiri {
    width: 100%;
    gap: 5px;
  }

  .inshigt {
    width: 70%;
    font-size: 14px;
  }

  .title-kiri {
    font-size: 22px;
  }

  .text-kiri {
    margin-top: -10px;
    width: 100%;
    font-size: 12px;
  }

  .btn-kiri {
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
  }

  .container-dashboard-kanan {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    width: 100%;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 890px) {
  .container-dashboard {
    gap: 20px;
    margin-top: 10px;
  }

  .container-dashboard-kiri {
    width: 60%;
    gap: 0px;
  }

  .inshigt {
    padding: 10px;
    font-size: 14px;
  }

  .title-kiri {
    font-size: 26px;
  }

  .text-kiri {
    width: 100%;
    margin-top: -20px;
  }

  .btn-kiri {
    padding: 14px 12px;
    font-size: 14px;
  }

  .container-dashboard-kanan {
    gap: 10px;
    width: 40%;
  }

  .card {
    padding: 15px;
    border-radius: 12px;
  }

  .card-text {
    font-size: 12px;
  }

  .container-kanan-data {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 16px;
  }
}

@media screen and (min-width: 891px) and (max-width: 999px) {
}
