:root {
  --body: #f8f3ec;
  --putihCard: #fefdf9;
  --textabu: #5e6f69;
  --hijaubtn: #173a33;
  --inshigt: #dbe8e1;
}

.container-dashboard {
  display: flex;
  gap: 100px;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--putihCard);
  border-radius: 20px;
  box-shadow: 0 2px 8px var(--hijaubtn);
}

.container-dashboard-kiri {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inshigt {
  padding: 10px;
  width: 40%;
  border-radius: 20px;
  background-color: var(--inshigt);
}

.title-kiri {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.text-kiri {
  color: var(--textabu);
  width: 120%;
}

.btn-kiri {
  padding: 15px;
  background-color: var(--hijaubtn);
  color: var(--putihCard);
  font-weight: bold;
  border-radius: 30px;
  border: none;
}

.container-dashboard-kanan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 50%;
}

.card {
  background: var(--body);
  padding: 20px;
  border-radius: 12px;
}

.card-text {
  color: var(--textabu);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-kanan-data {
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
