:root {
  --lightgreen: #859f3d;
  --darkgreen: #31511e;
  --cream: #f6fcdf;
  --putih: #efefef;
}

.filter-search-container {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.filter-search-container input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid var(--darkgreen);
  background: white;
  font-size: 14px;
}

.filter-search-container input:focus {
  outline: none;
  border-color: var(--darkgreen);
}

.filter-search-container select {
  width: 180px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--darkgreen);
  background: white;
  color: var(--darkgreen);
  font-weight: 500;
}

.filter-search-container select:focus {
  outline: none;
  border-color: var(--lightgreen);
}
