:root {
  --lightgreen: #859f3d;
  --darkgreen: #31511e;
  --cream: #f6fcdf;
  --putih: #efefef;
}

.btn-wa {
  margin: 5px 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--putih);
  color: var(--darkgreen);
  font-weight: bold;
  border: 1px solid var(--darkgreen);
  box-shadow: 0px 2px 8px var(--darkgreen);
  cursor: pointer;
}
