/* ===== GLOBAL VARIABLES ===== */
:root {
  --body: #f8f3ec;
  --putihCard: #fefdf9;
  --textabu: #5e6f69;
  --hijaubtn: #173a33;
  --inshigt: #dbe8e1;
}

/* ===== LAYOUT ===== */
.dashboard {
  padding: 50px 150px;
  background: var(--body);
  min-height: 100vh;
}

.riwayat-terbaru {
  margin-top: 40px;
}
