:root{
  --hijau : #305a37;
}

.riwayat-container {
  padding: 30px;
}

.riwayat-container h1 {
  margin-bottom: 25px;
}

.riwayat-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}   

.riwayat-card {
  background: var(--hijau);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  color: white;
}

.riwayat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header h3 {
  font-size: 18px;
  color: #fff;
}

.keterangan {
  font-size: 14px;
  color: #b4b1b1;
  margin-bottom: 15px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.status.menunggu {
  background: #fff3cd;
  color: #856404;
}

.status.diproses {
  background: #d1ecf1;
  color: #0c5460;
}

.status.dijemput {
  background: #d4edda;
  color: #155724;
}

.status.selesai {
  background: #c8f7c5;
  color: #1e7e34;
}


@media (max-width: 992px) {
  .riwayat-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .riwayat-list {
    grid-template-columns: 1fr;
  }
}