:root {
  --lightgreen: #859F3D;
  --darkgreen: #31511E;
  --cream: #F6FCDF;
  --putih: #efefef;
  --putihcard : #f5f5f5;
}

.transaksi-page{
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;  
}

/* KIRI */
.transaksi-kiri{
  width: 50%;
  height: 100%;
  background: var(--putih);
}

.transaksi-kiri img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 0 20px 20px 0;
}

/* KANAN */
.transaksi-kanan{
  width: 50%;
  height: 100%;
  background: var(--putih) ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.transaksi-container{
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  background: var(--putihcard);

  padding: 20px 25px;

  border-radius: 15px;

  box-shadow: 0 2px 10px var(--darkgreen);

  overflow-y: auto;
}

.transaksi-container h1{
  text-align: center;
  margin-bottom: 15px;
  color: var(--darkgreen);
  font-size: 22px;
}

.transaksi-container form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.transaksi-container label{
  font-weight: 600;
  color: var(--darkgreen);
  font-size: 14px;
}

.transaksi-container input,
.transaksi-container select,
.transaksi-container textarea{
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;

  font-size: 14px;

  box-sizing: border-box;
}

.transaksi-container textarea{
  resize: none;
}

.hasil{
  background: #f5f5f5;

  padding: 10px 15px;

  border-radius: 10px;

  margin-top: 5px;
}

.hasil p{
  font-size: 14px;
  margin: 5px 0;
}

.hasil h3{
  color: var(--lightgreen);
  font-size: 16px;
  margin: 5px 0;
}

.btn-trans{
  width: 100%;

  padding: 10px;

  border: none;

  border-radius: 8px;

  background: var(--lightgreen);

  color: white;

  cursor: pointer;

  font-size: 15px;
}

.btn-trans:hover{
  background: var(--darkgreen);
}

/* RESPONSIVE */
@media (max-width: 768px){
  .transaksi-page{
    flex-direction: column;
    height: calc(100vh - 60px);
  }

  .transaksi-kiri{
    width: 100%;
    height: 35%;
  }

  .transaksi-kanan{
    width: 100%;
    height: 65%;
    padding: 10px;
  }

  .transaksi-container{
    padding: 15px;
  }
}