:root {
  --lightgreen: #859f3d;
  --darkgreen: #31511e;
  --cream: #f6fcdf;
  --putih: #efefef;
}

.admin-layout {
  display: flex;
}

.admin-user-content {
  flex: 1;
  padding: 25px;
  background: var(--putih);
  min-height: 100vh;
}

.admin-user-content h1 {
  color: var(--darkgreen);
  margin-bottom: 20px;
}

.admin-user-search {
  margin-bottom: 25px;
}

.admin-user-search input {
  width: 98%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.admin-user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
